body{
	background-image: url(../img/bg-main.png);
	background-size: cover;
	-webkit-backface-visibility: hidden;
}

.row {
	height: 100%;
	margin-top: 10px;
	text-align: center;
}

#wrap_header_logo {
	margin: 30px 0 40px 0;
}

.bg-shadow{
	background: url(../img/shadow-bg.png) no-repeat top;
	padding-top: 80px;
	padding-bottom: 120px;
}

.col1, .col2, .col3 {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background-repeat: repeat;
	z-index: 2;
}

.col1 {
  margin-top: 0px;
}

.col2 {
  margin-top: 0px;	
}
.col3 {
  margin-top: 0px;	
}


.col1:hover, .col2:hover, .col3:hover {
  -webkit-animation: pulse 2.5s ease;
  -moz-animation: pulse 2.5s ease;
  -o-animation: pulse 2.5s ease;
  animation: pulse 2.5s ease;	
}

.image img{
	max-width: 100%;
}

.info-box1, .info-box2, .info-box3{
	position: absolute;
}

.info-box1{
	top: -70px;
	left: 49px;
}
.info-box2{
	bottom: -113px;
	left: 33%;
}
.info-box3{
	top: -68px;
	right: 43px;
}

@media (max-width: 768px) {
  .info-box1, .info-box2, .info-box3{
	display: none;
  }
  .bg-shadow{
		background: none;
	}
}
@media (max-width: 480px) {
  .info-box1, .info-box2, .info-box3{
	display: none;
  }
  .bg-shadow{
		background: none;
	}
}